.nav-left {
    background-color: #5789DB;
    color: #ffffff;
    font-weight: bold;
    height: calc(100vh);
    div {
        padding: 1px 0;
    }
    .title {
        font-size: 30px;
        line-height: 36px;
        padding: 51px 0 35px 30px;
        text-align: left;
    }
    .loading-title {
        font-size: 18px;
        font-weight: bold;
        line-height: 21px;
        padding: 0 0 0 30px;
    } 
    .loading {
        padding: 0 0 0 30px;
    }
    .loading-status {
        font-size: 14px;
        line-height: 17px;
        padding: 9px 0 21px 30px;
        border-bottom: 1px solid white
    }
    .menu {
        background-color: #5789db;
        .link-style {
            color: white;
            font-size: 20px;
            .menuIcon {
                padding: 0px 0 0px 16px;
            }
            .menu-content {
                padding: 0px 0 0px 16px;
            }
        }
        .ant-menu-item-selected {
            background-color: #294f8c;
        }
    }
}