.record-container {
    width: 100%;
    height: calc(100vh);
    padding-left: 20px;
    overflow: auto;
    background-color: #eff2fa;
    .cardWrap{
        background-color: transparent;
        .ant-card-body {
            padding-top: 0;
        }
    }
    .table-row-style {
        background-color: white;
        font-size: 18px;
        line-height: 21px;
    }
    .table-style {
        .ant-table table {
            border-spacing: 0 20px;
        }
    }
    .ant-table-thead > tr >th{
        border-collapse: collapse;
        color: #5789db;
        background-color: transparent;
        font-size: 24px;
        font-weight: bold;
        border: none;
    }
}