@font-face {
  font-family: 'futura';
  font-style: normal;
  font-weight: 400;
  src: local('futura'), local('futura'),
       url('/public/assets/fonts/Futura\ LT\ Bold.ttf') format('truetype')
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'futura', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'FuturaLT-Book'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
